html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: transparent;
}

h1 {
  margin: 1rem;
  font-size: large;
}

body.dark h1 {
  margin: 1rem;
  font-size: large;
  color: white;
}

path {
  transform-origin: 50% 0%;
}

.background--custom {
  background-color: #f9f8f6;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}

@keyframes path0 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes path1 {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes path2 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

.path0 {
  animation: path0 5s linear infinite alternate;
}

.path1 {
  animation: path1 12.5s linear infinite alternate;
}

.path2 {
  animation: path2 30s linear infinite alternate;
}

body.dark .background--custom {
  background-color: #555555;
}

body.dark .background--custom path.path0 {
  fill: black;
  fill-opacity: 0.7;
}

body.dark .background--custom path.path1 {
  fill: #2e2e2e;
  fill-opacity: 0.6;
}

body.dark .background--custom path.path2 {
  fill: #444444;
  fill-opacity: 0.3;
}

#app {
  max-width: 3000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 40px;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.poker {
  width: 100%;
  max-width: 150px;
  height: 180px;
  margin-bottom: 20px;
}

.animals {
  width: 100%;
  max-width: 150px;
  height: 180px;
  margin-bottom: 20px;
}

.flags {
  width: 100%;
  max-width: 200px;
  height: 140px;
  margin-bottom: 20px;
}

.card {
  width: 160px;
  height: 200px;
  background: white;
  border-radius: 12px;
  padding: 1em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Versions {
  align-content: center;
}

.btntext {
  color: white;
}

body.dark .btntext {
  color: black;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #444444;
  box-shadow: inset 0 0 0 2px #444444;
  background: linear-gradient(
    to left,
    #ff9a9e 0%,
    #fcb69f 10%,
    #f6d365 20%,
    #ffdd85 30%,
    #fda085 40%,
    #f78ca0 50%,
    #9f7aea 60%,
    #667eea 70%,
    #5a3f9e 80%,
    #2c2c54 90%
  );
  height: 48px;
}

body.dark button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 10s;
  border: 1px solid white;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: white;
  box-shadow: inset 0 0 0 2px black;
  background: linear-gradient(
    to right,
    #ff9a9e 0%,
    #fcb69f 10%,
    #f6d365 20%,
    #ffdd85 30%,
    #fda085 40%,
    #f78ca0 50%,
    #9f7aea 60%,
    #667eea 70%,
    #5a3f9e 80%,
    #2c2c54 90%
  );
  height: 48px;
}

button:hover {
  background: linear-gradient(
    to right,
    #006561 0%,
    #034960 10%,
    #09529a 20%,
    #00227a 30%,
    #025f7a 40%,
    #08835f 50%,
    #60b985 60%,
    #998115 70%,
    #a5c063 80%,
    #d3d3ab 90%
  );
}

body.dark button:hover {
  background: linear-gradient(
    to left,
    #006561 0%,
    #034960 10%,
    #09529a 20%,
    #00227a 30%,
    #025f7a 40%,
    #08835f 50%,
    #60b985 60%,
    #998115 70%,
    #a5c063 80%,
    #d3d3ab 90%
  );
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: transparent;
  }
  button {
    background-color: #f9f9f9;
  }
}
