html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: transparent;
}

path {
  transform-origin: 50% 0%;
}

.background--custom {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: wheat;
}

.bg-svg {
  width: 100%;
  height: 100%;
}

path {
  fill: none;
  stroke-width: 2;
  transform-origin: 50% 0%;
}

.animated-path0 {
  stroke: #646cff;
  animation: path0 4s infinite alternate;
}
.animated-path1 {
  stroke: #f7df1e;
  animation: path1 6s infinite alternate;
}
.animated-path2 {
  stroke: #ff6464;
  animation: path2 5s infinite alternate;
}

.animated-path0 {
  animation: path0 4s infinite alternate;
}

.animated-path1 {
  animation: path1 6s infinite alternate;
}

.animated-path2 {
  animation: path2 5s infinite alternate;
}

@keyframes path0 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes path1 {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes path2 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.img {
  width: 100%;
  max-width: 250px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card {
  width: 160px;
  height: 200px;
  background: white;
  border-radius: 12px;
  padding: 1em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.Versions {
  align-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s;
}

button:hover {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgb(112, 112, 112) 50%,
    rgb(225, 225, 255) 100%
  );
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: transparent;
  }
  button {
    background-color: #f9f9f9;
  }
}
